@model BridgeStreet.Website.Areas.BridgeStreet.Models.Global.HtmlHeadViewModel
<title>@Model.Page.BrowserTitleWithFallback</title>
<meta name="description" content="@Model.Page.MetaDescription" />
<meta name="keywords" content="@Model.Page.MetaKeywords"/>
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
<meta name="robots" content="@Model.Robots" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript"/>
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta property="og:title" content="@Model.Page.OpenGraphTitleWithFallback" />
<meta property="og:description" content="@Model.Page.OpenGraphDescriptionWithFallback" />
<meta property="og:url" content="@Model.Page.OpenGraphUrlWithFallback" />
<meta property="og:image" content="@Model.OpenGraphImage" />
<meta property="og:site_name" content="BridgeStreet" />
<link rel="canonical" href="@Model.Page.CanonicalUrlWithFallBack" />
<link rel="icon" type="image/png" sizes="32x32" href="@Model.FaviconPng">
<link rel="apple-touch-icon" href="@Model.IOSIcon76">
<link rel="apple-touch-icon" sizes="76x76" href="@Model.IOSIcon76">
<link rel="apple-touch-icon" sizes="120x120" href="@Model.IOSIcon120">
<link rel="apple-touch-icon" sizes="152x152" href="@Model.IOSIcon152">
<link rel="apple-touch-icon" sizes="180x180" href="@Model.IOSIcon180">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>